# WordPress Core (no versionar)
wp-config.php
wp-admin/
wp-includes/
*.php
license.txt
readme.html
licencia.txt
robots.txt
xmlrpc.php
wp-activate.php
wp-blog-header.php
wp-comments-post.php
wp-cron.php
wp-links-opml.php
wp-load.php
wp-login.php
wp-mail.php
wp-settings.php
wp-signup.php
wp-trackback.php
index.php
wordfence-waf.php

# Contenido dinámico
wp-content/uploads/
wp-content/cache/
wp-content/backup/
wp-content/et-cache/
wp-content/wflogs/
wp-content/upgrade/
wp-content/tmp/

# Installer
dup-installer/
*_installer*.php
*_backup*.php

# Sistema
.DS_Store
Thumbs.db

# Entorno
.env
.env.local

# IDE
.vscode/
.idea/
*.swp

# Logs
*.log
error_log
